@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using MiddleAges.ViewComponents

@inject IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>Grand Duchy: Стань легендой средневековья!</title>
    <meta name="description" content="Станьте правителем могущественной империи в мире, полном интриг и битв" />
    <meta name="keywords" content="gaming, online games, multiplayer, strategy, tactics, war games, simulation, role-playing, adventure, historical, fantasy, real-time strategy, turn-based strategy, PvP, PvE, world-building, management, resource management, civilization, campaign, guilds, alliances, quests, units, heroes, maps, territories, kingdoms, realms, sieges, diplomacy, trade, economy, technology, development, expansion, domination, victory, defeat, combat, defense, attack, troops, armies, military, conquest, empire, dynasty, throne, medieval, feudal, castle, knight, monarch, sovereign, ruler, leader, strategy guide" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />
    <title>@ViewData["Title"] - Grand Duchy</title>
    <link rel="icon" type="image/x-icon" href="~/img/interface-icons/gerb.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/middle-ages-style.css" />
    <link rel="stylesheet" href="~/css/map.css" />
    <link rel="stylesheet" href="~/css/avatar.css" />
    <link rel="stylesheet" href="~/css/tabs.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
    <link rel="stylesheet" href="~/css/rotate-img.css" />
    <link rel="stylesheet" href="~/css/country.css" />
    <link rel="stylesheet" href="~/css/dialogWindow.css" />
    <link rel="stylesheet" href="~/css/chat.css" />
    <link rel="stylesheet" href="~/css/wars.css" />
    <link rel="stylesheet" href="~/css/attributes.css" />
    <link rel="stylesheet" href="~/css/rating.css" />
    <link rel="stylesheet" href="~/css/modal-player.css" />
    <link rel="stylesheet" href="~/css/modal-local-events.css" />
    <link rel="stylesheet" href="~/css/modal-land.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/css/yatranslate.css">
    <link rel="stylesheet" href="~/css/media.css" />
</head>

<body>
        @* <div id="rekstr">
            <script type="text/javascript" language="JavaScript" src="/js/rttr.js"></script>  РЕКЛАМНАЯ СТРОКА
        </div> *@
       
        <div class="header text-muted">
            <div class="row">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="lhst_inline lhst_nav lhst_header_avatar_scale">
                        @await Component.InvokeAsync(typeof(PlayerOverviewNavViewComponent))
                    </div>
                    <div class="lhst_inline lhst_vertical-line"></div>

                    <div class="align-items-center d-inline-flex lhst_menu_but">
                        <div class="dropdown">
                            <button class="dropdown-toggle" onclick="toggleDropdown()">☰</button>
                            <div id="menuContainer" class="dropdown-menu">
                                <ul class="lhst_nav p-0 ">
                                    <li class="lhst_nav">
                                    <a class="nav-link text-dark header-menu lhst_nav main-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Main" asp-action="Index">@Localizer["Main"]</a>
                                    </li>
                                    <li class="lhst_nav">
                                        <a class="nav-link text-dark header-menu lhst_nav map-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Map" asp-action="Index">Map</a>
                                    </li>
                                    <li class="lhst_nav">
                                        <a class="nav-link text-dark header-menu lhst_nav state-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Country" asp-action="Index">Country</a>
                                    </li>
                                    <li class="lhst_nav">
                                        <a class="nav-link text-dark header-menu lhst_nav settings-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                                    </li>
                                    <li class="lhst_nav">
                                        <a class="nav-link text-dark header-menu lhst_nav rating-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Rating" asp-action="Index">Rating</a>
                                    </li>
                                    <li class="lhst_nav">
                                        <a class="nav-link text-dark header-menu lhst_nav wars-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="War" asp-action="Index">Wars</a>
                                    </li>
                                    <li class="lhst_nav">
                                        <a class="nav-link text-dark header-menu lhst_nav shop-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
                                    </li>
                                    <li class="lhst_nav">
                                        <partial name="_LoginPartial" />
                                    </li>
                                
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li class="lhst_nav">
                                            <a class="nav-link text-dark header-menu lhst_nav wars-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Admin" asp-action="Index">Administrator Panel</a>
                                        </li>
                                    }
                                </ul>
                                <div class="lhst_inline lhst_nav lhst_header_margin">
                                    <form class="form-inline lhst_inline align-bottom" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="lhst_btn_logout lhst_iphone_border">Logout</button>
                                    </form>
                                </div>
                                <div class="lang lang_fixed">
                                    <div id="ytWidget" style="display: none;"></div>
                                    <div class="lang__link lang__link_select" data-lang-active>
                                        <img id="langHeaderImg" class="lang__img lang__img_select" src="/img/lang-icons/lang__en.png" alt="">
                                    </div>
                                    <div class="lang__list" data-lang-list>
                                        <a class="lang__link lang__link_sub" data-ya-lang="ru">
                                            <img class="lang__img" src="~/img/lang-icons/lang__ru.png" alt="ru">
                                        </a>
                                        <a class="lang__link lang__link_sub" data-ya-lang="en">
                                            <img class="lang__img" src="~/img/lang-icons/lang__en.png" alt="en">
                                        </a>
                                        <a class="lang__link lang__link_sub" data-ya-lang="de">
                                            <img class="lang__img" src="~/img/lang-icons/lang__de.png" alt="de">
                                        </a>
                                        <a class="lang__link lang__link_sub" data-ya-lang="be">
                                            <img class="lang__img" src="~/img/lang-icons/lang__be.png" alt="be">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* <button id="showMenuBut" class="mobile-menu-toggle header-menu lhst_shadow_text lhst_scale d-none lhst_btn_logout" onclick="toggleMenu()">
                            ☰ Menu
                        </button> *@
                        <div class="lhst_inline lhst_nav lhst_header_margin lhst_scale float-left lhst_desktop">
                            <ul class="lhst_nav p-0">
                                <li class="lhst_nav ">
                                    <a class="nav-link text-dark header-menu lhst_nav main-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Main" asp-action="Index">Main</a>
                                </li>
                                <li class="lhst_nav ">
                                    <a class="nav-link text-dark header-menu lhst_nav map-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Map" asp-action="Index">Map</a>
                                </li>
                                <li class="lhst_nav ">
                                    <a class="nav-link text-dark header-menu lhst_nav state-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Country" asp-action="Index">Country</a>
                                </li>
                                <li class="lhst_nav ">
                                    <a class="nav-link text-dark header-menu lhst_nav settings-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                                </li>
                                <li class="lhst_nav ">
                                    <a class="nav-link text-dark header-menu lhst_nav rating-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Rating" asp-action="Index">Rating</a>
                                </li>
                                <li class="lhst_nav ">
                                    <a class="nav-link text-dark header-menu lhst_nav wars-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="War" asp-action="Index">Wars</a>
                                </li>
                                <li class="lhst_nav ">
                                    <a class="nav-link text-dark header-menu lhst_nav shop-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Shop" asp-action="Index">Shop</a>
                                </li>
                                <li class="lhst_nav ">
                                    <partial name="_LoginPartial" />
                                </li>
                                @{
                                    if (User.IsInRole("Admin"))
                                    {
                                        <li class="lhst_nav ">
                                            <a class="nav-link text-dark header-menu lhst_nav wars-btn lhst_shadow_text lhst_scale" asp-area="" asp-controller="Admin" asp-action="Index">Administrator Panel</a>
                                        </li>
                                    }
                                }
                            </ul>


                        </div>
                        <div class="d-block lhst_margin_logout ">
                            
                            <div class="lhst_inline lhst_nav lhst_header_margin float-right vw-40 lhst_desktop">
                                <form class="form-inline lhst_inline align-bottom ml-4 mb-2 " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="lhst_btn_logout">Logout</button>
                                </form>
                            </div>

                            <div class="lang lang_fixed lhst_desktop">
                                <div id="ytWidget" style="display: none;"></div>
                                <div class="lang__link lang__link_select" data-lang-active>
                                    <img class="lang__img lang__img_select" src="/img/lang-icons/lang__en.png" alt="en">
                                </div>
                                <div class="lang__list" data-lang-list>
                                    <a class="lang__link lang__link_sub" data-ya-lang="ru">
                                        <img class="lang__img" src="~/img/lang-icons/lang__ru.png" alt="ru">
                                    </a>
                                    <a class="lang__link lang__link_sub" data-ya-lang="en">
                                        <img class="lang__img" src="~/img/lang-icons/lang__en.png" alt="en">
                                    </a>
                                    <a class="lang__link lang__link_sub" data-ya-lang="de">
                                        <img class="lang__img" src="~/img/lang-icons/lang__de.png" alt="de">
                                    </a>
                                    <a class="lang__link lang__link_sub" data-ya-lang="be">
                                        <img class="lang__img" src="~/img/lang-icons/lang__be.png" alt="be">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                }
                else
                {
                    <div class="flex-grow-1"></div>
                }
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class=" align-top float-right lhst_inline lhst_nav">
                @await Component.InvokeAsync(typeof(ChatViewComponent))
            </div>
        }
        <div>
            <main class="lhst_vertical-alignment-top">
                @RenderBody()
            </main>
        </div>
        <footer class="footer text-muted lhst_desktop">
            <div class="container lhst_footer-text ">
                &copy; 2023 - Grand Duchy - <a class="lhst_privacy-btn" asp-area="" asp-controller="Main" asp-action="Privacy">Privacy</a>
            </div>
            <div class="container align-self-center lhst_footer-text d-flex mt-3">
                <p class="mr-1">@Localizer["ServerTime"]</p>
                <p id="serverTime"></p>
            </div>
            @* <script src="https://yastatic.net/share2/share.js"></script> *@

            @* <div class="ya-share2 align-self-center mr-3" data-curtain data-lang="en" data-color-scheme="blackwhite" data-services="vkontakte,telegram,twitter,viber"></div> *@
            <div>
                <img id="tgGrandDuchyLink" class="align-self-center mr-1 mt-1 lhst_share_img lhst_cursor_pointer" src="~/img/interface-icons/telegram1.png" loading="lazy" alt="telegram" data-title="telegram" onclick="redirectToGrandDuchyTG()" />
                <img id="dsGrandDuchyLink" class="align-self-center mr-1 mt-1 lhst_share_img lhst_cursor_pointer" src="~/img/interface-icons/discord1.png" loading="lazy" alt="discord" data-title="discord" onclick="redirectToGrandDuchyDiscord()" />
            </div>


        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/showChat.js"></script>
        <script src="~/js/server_time.js"></script>
        <script src="~/js/modal_player.js"></script>
        <script src="~/js/modal_land.js"></script>
        <script src="~/js/modal_land_transfer_money.js"></script>
        <script src="~/js/yatranslate.js"></script>
        <script src="~/js/socialMedia_link.js"></script>


        @*<script src="~/js/snow.js" type="text/javascript" language="JavaScript"></script>*@
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>

@* Profile modal *@
<div class="lhst_dialog_profile modal" id="m_player_dialog">
    <section>
        <div class="d-flex lhst_modal_profile">
            <div>
                <img id="m_player_avatar" class="lhst_avatar_profile_image" alt="" loading="lazy" />
                <p id="m_player_lvl" class="ml-1 mb-0" style="text-align: center">- - - - - [Lvl: 1] - - - - -</p>
                <progress id="m_player_lvl_progress_bar" class="lhst_progressbar" style="width: 150px" value="0" max="100"></progress>
            </div>
            <div class="lhst_main_info_profile">
                <div class="ml-3">
                    <div class="row">
                        <p id="m_player_playerName" class="lhst_country_king_size mb-0">Player Name</p>
                        <img id="m_player_onlineStatus" src="~/img/interface-icons/online.png" alt="Online" data-title="Status" loading="lazy" />
                    </div>
                    
                    <p id="m_player_playerDescription" class="lhst_dialog_profile_player_description mb-0">Status of player</p>
                    <div class="row float-left">
                        <p id="m_player_totalPlace" class="mb-0 mt-1">#3 (</p>
                        <img class="lhst_profile_rating_img " src="~/img/rating-icons/exp.png" alt="" data-title="Experience" loading="lazy" />
                        <p id="m_player_expPlace" data-title="Experience" class="mb-0 mt-1">1 /</p>
                        <img class="lhst_profile_rating_img " src="~/img/rating-icons/money.png" alt="" data-title="Money" loading="lazy" />
                        <p id="m_player_moneyPlace" data-title="Money" class="mb-0 mt-1">1 /</p>
                        <img class="lhst_profile_rating_img " src="~/img/rating-icons/power.png" alt="" data-title="War Power" loading="lazy" />
                        <p id="m_player_powerPlace" data-title="War Power" class="mb-0 mt-1">1)</p>
                    </div>
                </div>
                <br />

                <div class="row">
                    <img id="m_player_residence_land_coat_of_arms" src="../img/map-regions-icons-middle-ages/Hrodna.png" class="lhst_region_profile" alt="map region coat of arms" loading="lazy" />
                    <div class="mt-3">
                        <p id="m_player_residence_country_name" class="mb-0">Avalonium</p>
                        <p id="m_player_residence_land_name" class="mb-0">Hrodna</p>
                        <div class="row">
                            <img src="../img/default-icon/farmer.png" class="lhst_info_region_icon_left_bar float-left" data-title="Population" alt="" loading="lazy" />
                            <p id="m_player_population" class="float-left mt-2 mb-0 lhst_clr-wheat" data-title="Population">564</p>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="float-right">
                <button class="lhst_btn_dialog_cancel" onclick="hideModalPlayerDialog()">x</button>
            </div>
        </div>
        <div class="d-flex">
            <div class="ml-2">
                <div>
                    <p class="ml-2 mb-0">Player notes</p>
                    <p id="m_player_notes" class="w-100 flex-wrap mb-2 font-weight-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
                <div>
                    <p class="ml-2 mb-0">Contact information</p>
                    <div id="m_player_contact_information_div"></div>
                </div>
            </div>
        </div>
    </section>
</div>

@*War modal*@
<div class="lhst_dialog_wars modal lhst_slider_small_screen" id="warsDetails">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideDetailsWar()">x</button>
    </div>

    <div class="row p-0">
        <div class="col-2 p-0">
            <img id="imgFrom" class="lhst_war_country_img lhst_cursor_pointer m_landBtn" src="../img/map-regions-icons-middle-ages/Hrodna.png" loading="lazy" alt="">
        </div>
        <div class="col-2 p-0">
            <p id="countryFromName" class="lhst_wars_country_text">CountryFrom</p>
            <p id="landFromName" class="lhst_wars_lands_text lhst_geo_object lhst_cursor_pointer m_landBtn">LandFrom</p>
            <div style="margin-bottom: 3px">
                <img class="float-left" style="width: 24px; height: 24px" src="../img/interface-icons/war/army-strength.png" loading="lazy" data-title="Army strength" alt="">

                <p id="attackersArmyStrength" class="float-left mt-1 mb-0 lhst_cursor_help">0%</p>
                <div class="lhst_tooltip lhst_cursor_help ml-1 mb-0">
                    ?
                    <span class="lhst_tooltiptext">
                        Army strength: average warfare of all participants
                    </span>
                </div>
            </div>
            <div class="lhst_inline">
                <img class="float-left" style="width: 24px; height: 24px" src="../img/interface-icons/war/fortification-strength.png" loading="lazy" data-title="Army strength" alt="">

                <p id="attackersFortificationStrength" class="float-left mt-1 mb-0 lhst_cursor_help">0%</p>
                <div class="lhst_tooltip lhst_cursor_help ml-1 mb-0">
                    ?
                    <span class="lhst_tooltiptext">
                        Fortification strength: this modifier is based on the level of land fortification
                    </span>
                </div>
            </div>
        </div>
        <div class="col-4 p-0">
            <div class="row p-0">
                <div class="col-4 p-0 text-right">
                    <p id="soldiersCountLeft" class="text-right lhst_country_info_region_value" data-title="Attackers Soldiers">937</p>
                </div>
                <div class="col-2 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" loading="lazy" data-title="Attackers Soldiers" alt="">
                </div>
                <div class="col-2 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" loading="lazy" data-title="Defenders Soldiers" alt="">
                </div>
                <div class="col-4 p-0">
                    <p id="soldiersCountRight" class="lhst_country_info_region_value" loading="lazy" data-title="Defenders Soldiers">647</p>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-4 p-0 text-right">
                    <p id="armiesCountLeft" class="text-right lhst_country_info_region_value" loading="lazy" data-title="Attackers Lords">0</p>
                </div>
                <div class="col-2 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" loading="lazy" data-title="Attackers Lords" alt="">
                </div>
                <div class="col-2 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" loading="lazy" data-title="Defenders Lords" alt="">
                </div>
                <div class="col-4 p-0 ">
                    <p id="armiesCountRight" class="lhst_country_info_region_value" loading="lazy" data-title="Defenders Lords">12</p>
                </div>
            </div>
            <div class="row p-0">
                <div class="col-3 p-0">
                    <input id="soldiersCountLeftValue" name="unitsAmountLeftCountryWarInput" list="values" class="lhst_tb_war_modal" type="number" value="1" max="100" onkeyup="this.value = this.value.replace(/[^\d]/g,'');" />
                </div>
                <div class="col-3 p-0 text-right">
                    <button type="submit" class="lhst_btn_war_modal" onclick="sendTroopsLeftSide()" >
                        Send
                    </button>
                </div>
                <div class="col-3 p-0">
                    <button type="submit" class="lhst_btn_war_modal" onclick="sendTroopsRightSide()"> 
                        Send
                    </button>
                </div>
                <div class="col-3 p-0">
                    <input id="soldiersCountRightValue" name="unitsAmountRightCountryWarInput" list="values" class="lhst_tb_war_modal" type="number" value="1" max="100" onkeyup="this.value = this.value.replace(/[^\d]/g,'');" />
                </div>
            </div>
        </div>

        <div class="col-2 p-0 text-right">
            <p id="countryToName" class="lhst_wars_country_text ">CountryTo</p>
            <p id="landToName" class="lhst_wars_lands_text lhst_geo_object lhst_cursor_pointer m_landBtn">LandTo</p>
            <div style="margin-bottom: 3px">
                <img class="float-right" style="width: 24px; height: 24px" loading="lazy" src="../img/interface-icons/war/army-strength.png" data-title="Army strength" alt="">
                <p id="defendersArmyStrength" class="float-right mt-1 mb-0">0%</p>
                <div class="lhst_tooltip lhst_cursor_help float-right mr-1 mt-1 mb-0">
                    ?
                    <span class="lhst_tooltiptext">
                        Army strength: average warfare of all participants
                    </span>
                </div>
            </div>
            <div class="lhst_inline">
                <img class="float-right" style="width: 24px; height: 24px" loading="lazy" src="../img/interface-icons/war/fortification-strength.png" data-title="Fortification strength" alt="">
                <p id="defendersFortificationStrength" class="float-right mt-1 mb-0">0%</p>
                <div class="lhst_tooltip lhst_cursor_help float-right mr-1 mb-0">
                    ?
                    <span class="lhst_tooltiptext">
                        Fortification strength: this modifier is based on the level of land fortification
                    </span>
                </div>
            </div>
        </div>

        <div class="col-2 p-0 float-right">
            <img id="imgTo" class="lhst_war_country_img lhst_country_history_img lhst_cursor_pointer m_landBtn" loading="lazy" src="../img/map-regions-icons-middle-ages/Lahoisk.png" alt="">
        </div>


    </div>
    <div class="row p-0 overflow-auto">
        <div id="attackersDiv" class="col-6 p0 pt-3 lhst_slider">
        </div>
        <div id="defendersDiv" class="col-6 p0 pt-3 lhst_slider">
        </div>
    </div>
</div>

@* Land modal *@
<div class="lhst_dialog_land modal" id="m_land_dialog">
    <section>
        <div class="tab lhst_modal_land">
            <button id="m_landOverviewBtn" class="active" onclick="m_land_tab_changed('m_land_overviewTab')">Overview</button>
            <button id="m_landDevelopmentBtn" onclick="m_land_tab_changed('m_land_developmentTab')">Development</button>
            <button id="m_landActionBtn" onclick="m_land_tab_changed('m_land_actionTab')">Actions</button>
            <div class="float-right">
                <button class="lhst_btn_dialog_cancel" onclick="hideModalLandDialog()">x</button>
            </div>
            <div id="m_land_overviewTab" class="d-flex lhst_modal_land m_land_tab">
                <div class="m-2 d-flex">
                    <div>
                        <img id="m_landCoatOfArms" class="lhst_land_coat_of_arms_image" alt="" loading="lazy"/>                    
                    </div>
                    <div class="lhst_main_info_profile">
                        <div class="ml-3">                        
                            <p id="m_land_name" class="mb-0 mt-2" style="line-height: 0.5; font-size: 20px"></p>
                        
                            <div class="row float-left">
                                <img class="lhst_profile_rating_img " src="~/img/default-icon/state-crown.png" alt="" data-title="State" loading="lazy" />
                                <p id="m_land_country" class="mb-0" style="margin-top: 0.30rem"></p>
                            </div>

                            <br />

                            <div class="row float-left">
                                <p class="lhst_land_attribute">Rating place: </p>
                                <p id="m_land_rankingPlace" class="mb-0"></p>
                                <p class="lhst_land_attribute_value">/207</p>
                            </div>

                            <div class="row float-left">
                                <p class="lhst_land_attribute">Governor: </p>
                                <p id="m_land_governor" class="lhst_land_attribute_value"></p>
                            </div>

                            <div class="row float-left">
                                <p class="lhst_land_attribute">Lords: </p>
                                <p id="m_land_lordsCount" class="lhst_land_attribute_value"></p>
                            </div>                            

                            <div class="row float-left">
                                <p class="lhst_land_attribute">Residents: </p>
                                <p id="m_land_residentsCount" class="lhst_land_attribute_value"></p>
                            </div>

                            <div class="row float-left">
                                <p class="lhst_land_attribute">Population: </p>
                                <p id="m_land_populationCount" class="lhst_land_attribute_value"></p>
                            </div>
                        
                            <div class="row float-left">
                                <p class="lhst_land_attribute">Balance: </p>
                                <img class="mr-1 lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><p id="m_land_overview_money" class="lhst_land_attribute_value lhst_clr-money"></p>
                            </div>

                            <div class="row float-left">
                                <p class="lhst_land_attribute">Land taxes: </p>
                                <p id="m_land_taxes" class="mb-0"></p>
                                <p class="lhst_land_attribute_value">%</p>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
            <div id="m_land_developmentTab" class="d-none lhst_modal_land m_land_tab">
                <div class="m-2">
                    <div class="lhst_building_ext_card lhst_inline image-parlax">
                        <div class="image-container">
                            <div class="lhst_main_data_image myImg front-side" width="117" height="117" style="background-image: url(../img/buildings/land-buildings/infrastructure.jpg)"></div>
                            <div class="back-side">
                                <div class="lhst_inline inner">
                                    <img class="lhst_coins-img lhst_brightness" src="~/img/interface-icons/coins.png" alt="" />
                                    <p class="lhst_brightness">Price: <span id="infrastructurePrice"></span></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="lhst_inline lhst_building_card_left_part">
                                <div class="d-flex">
                                    <p class="lhst_card_properties">Infrastructure</p>
                                    <div class="lhst_tooltip lhst_cursor_help">
                                        ?
                                        <span class="lhst_tooltiptext">
                                            Infrastructure: increases gold limit in the region.
                                        </span>
                                        @* With equal infrastructure in all regions, the base value of the gold limit is 1000. However, the current building allows you to make the gold limit value floating. The gold limit is calculated as the number of all regions * 1000 coins * the share of your infrastructure relative to the whole world. *@
                                    </div>
                                </div>
                                <p class="lhst_card_properties">Level: <span id="infrastructureLvl"></span></p>
                            </div>
                            <div class="lhst_inline">
                                <button onclick="m_land_updateBuildingClicked(1)" class="lhst_btn_building_lvlup">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="lhst_building_ext_card lhst_inline image-parlax">
                        <div class="image-container">
                            <div class="lhst_main_data_image myImg front-side" width="117" height="117" style="background-image: url(../img/buildings/land-buildings/market.jpg)"></div>
                            <div class="back-side">
                                <div class="lhst_inline inner">
                                    <img class="lhst_coins-img lhst_brightness" src="~/img/interface-icons/coins.png" alt="" />
                                    <p class="lhst_brightness">Price: <span id="marketPrice"></span></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="lhst_inline lhst_building_card_left_part">
                                <div class="d-flex">
                                    <p class="lhst_card_properties">Market</p>
                                    <div class="lhst_tooltip lhst_cursor_help">
                                        ?
                                        <span class="lhst_tooltiptext">
                                            Market: increases the income received from your peasants.
                                        </span>
                                    </div>
                                </div>
                                <p class="lhst_card_properties">Level: <span id="marketLvl"></span></p>
                            </div>
                            <div class="lhst_inline">
                                <button onclick="m_land_updateBuildingClicked(2)" class="lhst_btn_building_lvlup">+</button>
                            </div>
                        </div>
                    </div>

                    <div class="lhst_building_ext_card lhst_inline image-parlax">
                        <div class="image-container">
                            <div class="lhst_main_data_image myImg front-side" width="117" height="117" style="background-image: url(../img/buildings/land-buildings/fortification.jpg)"></div>
                            <div class="back-side">
                                <div class="lhst_inline inner">
                                    <img class="lhst_coins-img lhst_brightness" src="~/img/interface-icons/coins.png" alt="" />
                                    <p class="lhst_brightness">Price: <span id="fortificationPrice"></span></p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="lhst_inline lhst_building_card_left_part">
                                <div class="d-flex">
                                    <p class="lhst_card_properties">Fortification</p>
                                    <div class="lhst_tooltip lhst_cursor_help">
                                        ?
                                        <span class="lhst_tooltiptext">
                                            Fortification: increases strength in war.
                                        </span>
                                    </div>
                                </div>
                                <p class="lhst_card_properties">Level: <span id="fortificationLvl"></span></p>
                            </div>
                            <div class="lhst_inline">
                                <button onclick="m_land_updateBuildingClicked(3)" class="lhst_btn_building_lvlup">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="m_land_actionTab" class="d-none lhst_modal_land m_land_tab">
                <div class="m-2">  
                    <button id="m_land_transfer_money_show_btn" onclick="showModalLandTransferMoneyDialog()">Transfer money to country treasury</button>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="lhst_dialog_land modal" id="m_land_transfer_money_dialog">
    <div class="float-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideModalLandTransferMoneyDialog()">x</button>
    </div>

    <section>
        <h2 class="text-center lhst_dialog_title">Transfer money to country treasury</h2>

        <br/>

        <div class="row float-left">
            <p class="lhst_land_attribute">Balance: </p>
            <img class="mr-1 lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><p id="m_land_transfer_money_landMoney" class="lhst_land_attribute_value lhst_clr-money"></p>
        </div>

        <br/>

        <input id="m_land_action_moneyTransferAmount" class="lhst_tb_land_transfer_money" type="number" value="0" max="0" onkeyup="this.value = this.value.replace(/[^\d]/g,'');" />

        <br />

        <button class="lhst_default_button" onclick="m_land_transferMoneyToCountryProcess()">Transfer money</button>
    </section>
</div>