@model List<MiddleAges.Entities.Unit>
@using MiddleAges.Entities
@using Microsoft.AspNetCore.Identity
@using MiddleAges.Enums;
@using MiddleAges.Models;
@inject SignInManager<Player> SignInManager
@inject UserManager<Player> UserManager

@* @{
    var recruit = CommonLogic.getRecruitCountById();
} *@

<p class="lhst_possessions_titles mr-5">Units
    <img src="../img/default-icon/farmer.png" width="20" height="20" class="mr-2 lhst_ml-65" alt="" />
    Recruits: @Model[1].Count 
</p>
@for (int i = 0; i < Model.Count(); i++)
{
    <div class="lhst_building_ext_card lhst_inline image-parlax">
        <div class="image-container">
            <div class="lhst_main_data_image myImg front-side" width="117" height="117" style="background-image: url(../img/units/@(Model[i].Type).png)"></div>
            <div class="back-side">
                    <div class="lhst_inline inner">
                        <img class="lhst_coins-img" src="~/img/interface-icons/coins.png" alt=""/>
                        <p>Price: @CommonLogic.getUnitPrice(Model[i].Type)</p>
                    </div>
            </div>
        </div>
    @{
        var unitName = CommonLogic.getUnitNameByType(Model[i].Type);
    }
        <div >
            <div>
                <p class="lhst_card_properties">@unitName</p>
                <p class="lhst_card_properties">Count: @Model[i].Count</p>
            </div>
            <div>
                    <form asp-controller="Unit" asp-action="Recruit" asp-route-unitId="@Model[i].UnitId" >
                    <input name="count" list="values" class="lhst_tb_unit_recruit" type="number" value="1" max="1000" onkeyup="this.value = this.value.replace(/[^\d]/g,'');" />
                    <datalist id="values">
                        <option value="10"/>
                        <option value="100" />
                        <option value="1000" />
                    </datalist>
                    <input type="submit" class="lhst_btn_unit_recruit" value="Recruit" />
                </form>
            </div>
        </div>
    </div>
}

