@using MiddleAges.ViewModels;
@using MiddleAges.Entities;
@using MiddleAges.Enums;
@using Microsoft.AspNetCore.Identity;
@model MiddleAges.ViewModels.CountryInfoViewModel;
@inject UserManager<Player> UserManager

@{
    ViewData["Title"] = "middle ages";

    Player player = await UserManager.GetUserAsync(User);
    List<Law> lawsOrderByTime = new List<Law>();
    lawsOrderByTime = Model.Laws.OrderByDescending(z => z.PublishingDateTime).ToList();    
}

<div class="d-flex ">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top ">

    </div>
    <div class="lhst_vertical-alignment-top lhst_main-section lhst_main_section_padding d-inline-flex lhst_font_size">
        <div class="lhst_avatar_inline lhst_country_div align-top lhst_slider_lands_screen ">
            <p class="lhst_country_king_size mb-0" >@Model.Country.Name</p>
            <p class="lhst_country_king_size mb-0">@Model.Country.CapitalId</p>
            
            <div class="col lhst_map_region_icon_left_bar_col">
                <img id="selected_land_coat_of_arms" src="../img/map-regions-icons-middle-ages/@(Model.Country.CapitalId).png" title="@Model.Country.CapitalId" class="lhst_country_img" alt="map region coat of arms" loading="lazy" />
            </div>
            <div class="row">
                <div class="lhst_person-nav-container-inline mr-1">
                    <img id="player_avatar" class="lhst_king_nav-avatar-img" src="~/img/avatars/@(Model.Ruler.ImageURL)" alt="" loading="lazy" />
                </div>
                <p class="lhst_country_king_size ">King @Model.Ruler.UserName</p>
                
            </div>

            <div class="row">
                <div class="col-6 pl-0 pr-2">
                    <p class="mt-2 text-left mb-1">People resources</p>
                    <div class="lhst_country_line mb-1">
                    </div>
                    <div>
                        <div class="row">
                            <img class="country_card-population-img" src="~/img/default-icon/farmer.png" alt="" title="Peasants" loading="lazy" />
                            <p class="lhst_country_info_region_value ml-1 mb-0" data-title="Peasants">@Model.PeasantsCount</p>
                        </div>
                        <div class="row">
                            <img class="country_card-population-img" src="~/img/default-icon/knight.png" alt="" title="Soldiers" loading="lazy" />
                            <p class="lhst_country_info_region_value ml-1 mb-0" data-title="Soldiers">@Model.SoldiersCount</p>
                        </div>
                        <div class="row">
                            <img class="country_card-population-img" src="~/img/default-icon/players.png" alt="" title="Lords" loading="lazy" />
                            <p class="lhst_country_info_region_value ml-1 mb-0" data-title="Lords">@Model.LordsCount</p>
                        </div>
                    </div>
                </div>

                <div class="col-6 pl-2 pr-0">
                    <p class="mt-2 text-left mb-1">Treasure</p>
                    <div class="lhst_country_line mb-1">
                    </div>
                    <div>
                        <div class="row" style="height: 30px;">
                            <img class="country_card-money-img" src="~/img/interface-icons/coins.png" alt="" loading="lazy" />
                            <p class="lhst_country_info_region_value ml-1 mb-0">@Math.Round(Model.Country.Money, 2).ToString().Replace(',', '.')</p>
                        </div>
                    </div>
                </div>
            </div>

            <p class="mt-2 text-left mb-1">Lands</p>
            <div class="lhst_country_line mb-1">
            </div>
            <div class="d-inline-block float-left">
                @for (int i = 0; i < Model.Lands.Count; i++)
                {
                    <img id="countries_lands" class="country_card-land-img mb-2" title="@(Model.Lands[i].LandId)" src="../img/map-regions-icons-middle-ages/@(Model.Lands[i].LandId).png" alt="" loading="lazy" />
                }
            </div>
        </div>
        <div>
            @{ 
                string disabled = Model.Ruler.Id != player.Id ? "disabled" : "";
            }

            <div class="lhst_country_buttons_div lhst_scale">
                @*ПЕРЕИМЕНОВАНИЕ*@
                <button @disabled class="header-menu rename-btn lhst_shadow_text lhst_law_btn" onclick="openRenamingCountryDialog()" id="openRenameCountryDialog">Rename</button>
                @*ИЗМНЕНЕНИЕ ЦВЕТА*@
                <button @disabled class="header-menu color-btn lhst_shadow_text lhst_law_btn" onclick="openRecoloringCountryDialog()" id="openRecolorCountryDialog">Change color</button>
                @*Смена столицы*@
                <button @disabled class="header-menu capital-btn lhst_shadow_text lhst_law_btn" onclick="openChangingCapitalCountryDialog()" id="openChangeCapitalCountryDialog">Change capital</button>
                @*ПЕРЕДАЧА ЛЭНДА ДРУГОМУ ГОСУ*@
                <button @disabled class="header-menu transfer-btn lhst_shadow_text lhst_law_btn" onclick="openTransferingLandCountryDialog()" id="openTransferLandCountryDialog">Transfer land</button>
                @*  @*Установление налога*@
                <button @disabled class="header-menu taxes-btn lhst_shadow_text lhst_law_btn" onclick="openTaxesCountryDialog()" id="openTaxesCountryDialog">Set Taxes</button>
                @*Смена правителя*@
                <button @disabled class="header-menu ruler-btn lhst_shadow_text lhst_law_btn" onclick="openChangingRulerCountryDialog()" id="openChangeRulerCountryDialog">Change ruler</button>
                @*ОБЪЯВЛЕНИЕ ВОЙНЫ*@
                <button @disabled class="header-menu war-btn lhst_shadow_text lhst_law_btn" onclick="openDeclaringWarCountryDialog()" id="openDeclareWarCountryDialog">Declare War</button>
                @*Назначить губернатора*@
                <button @disabled class="header-menu war-btn lhst_shadow_text lhst_law_btn" onclick="openAppointGovernorDialog()">Appoint a governor</button>
                @*распустить страну*@
                <button @disabled class="header-menu disband-btn lhst_shadow_text lhst_law_btn" onclick="openDisbandingCountryDialog()" id="openDisbandCountryDialog">Disband</button>
            </div>
            <p class="lhst_possessions_titles ml-3">Statute of @(Model.Country.Name)</p>
            <div class="lhst_country_history_div align-top lhst_nav lhst_slider ">
                @for (int i = 0; i < lawsOrderByTime.Count(); i++)
                {
                    <div class="lhst_country_history_comment text-left!important">
                        <img class="lhst_country_history_img" title="@(@CommonLogic.getLawNameByType(lawsOrderByTime[i].Type))" id="country_history_img" height="42" src="../img/menu-icons/@(@CommonLogic.getLawNameByType(lawsOrderByTime[i].Type)).jfif" alt="" loading="lazy"/>
                        <p class="lhst_country_history_text">@String.Format(CommonLogic.getLawDescriptionByType(lawsOrderByTime[i].Type), lawsOrderByTime[i].Value2, lawsOrderByTime[i].Value1)</p>
                        <img class="lhst_country_history_img ml-5" src="../img/interface-icons/stamp.png" height="52" alt="" loading="lazy">
                        <time class="float-right" datetime="2016-11-18T09:54">@lawsOrderByTime[i].PublishingDateTime</time>
                    </div>
                    <div class="lhst_country_history_line mb-0"></div>
                }
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/country_page_actions.js"></script>
</div>

<div class="lhst_dialog modal" id="renamingCountryDialog">
    <div class="text-right">
    <button class="lhst_btn_dialog_cancel" onclick="hideRenamingCountryDialog()">x</button>
    </div>
    <form asp-controller="Country" asp-action="Rename">
        <section>
            <p class="lhst_card_properties">
                <label>Current name: @Model.Country.Name</label>
            </p>
            <p class="lhst_card_properties">
                New name
                <input name="newName" class="lhst_dialog_rename_input" type="text" />
            </p>
        </section>
        <div class="text-center pl-0">
            <button type="submit" class="lhst_btn_moveToRegion">
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Confirm <img class="lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> 10</span></p>
            </button>
        </div>
    </form>
   
</div>

<div class="lhst_dialog modal" id="recoloringCountryDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideRecoloringCountryDialog()">x</button>
    </div>
    <form asp-controller="Country" asp-action="Recolor">
        <section>
            <p class="lhst_card_properties">
                Current color: 
                <input class="lhst_color_picker" type="color" value="@Model.Country.Color" disabled>
            </p>
            <p class="lhst_card_properties">
                New color: 
                <input name="newColor" class="lhst_color_picker" type="color" id="countrycolor" value="#ff0000">
            </p>
        </section>
        <div class="text-center pl-0">
            <button type="submit" class="lhst_btn_moveToRegion">
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Confirm <img class="lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> 10</span></p>
            </button>
        </div>
    </form>
</div>

<div class="lhst_dialog modal" id="changingCapitalCountryDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideChangingCapitalCountryDialog()">x</button>
    </div>
    <form asp-controller="Country" asp-action="ChangeCapital">
        <section>
            <p class="lhst_card_properties">
                <label>Current capital: @Model.Country.CapitalId</label>
            </p>
            <p class="lhst_card_properties">
                New capital
                <select name="newcapital" class="lhst_dialog_select_input">
                    @for (int i = 0; i < Model.Lands.Count; i++)
                    {
                        <option class="lhst_option">@Model.Lands[i].LandId</option>
                    }
                </select>
            </p>
        </section>
        <menu class="text-center pl-0">
            <button type="submit" class="lhst_btn_moveToRegion">
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Confirm <img class="lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> 50</span></p>
            </button>
        </menu>
    </form>
</div>

<div class="lhst_dialog modal" id="transferingLandCountryDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideTransferingLandCountryDialog()">x</button>
    </div>
    <form asp-controller="Country" asp-action="TransferLand" >
        <section>
            <p class="lhst_card_properties">
                <label>Transfer Land</label>
            </p>
            <p class="lhst_card_properties">
                Choose Land
                <select name="transferLand" class="lhst_dialog_select_input">
                    @for (int i = 0; i < Model.LandsToTranfer.Count; i++)
                    {
                        <option class="lhst_option">@Model.LandsToTranfer[i].LandId</option>
                    }
                </select>
            </p>
            <p class="lhst_card_properties">
                Choose Country
                <select name="toCountry" class="lhst_dialog_select_input">
                    @for (int i = 0; i < Model.OtherCountries.Count(); i++)
                    {
                        <option class="lhst_option">@Model.OtherCountries[i].Name</option>
                    }
                </select>
            </p>
        </section>
        <menu class="text-center pl-0">
            <button type="submit" class="lhst_btn_moveToRegion">
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Confirm <img class="lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> 10</span></p>
            </button>
        </menu>
    </form>
</div>

<div class="lhst_dialog modal" id="taxesCountryDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideTaxesCountryDialog()">x</button>
    </div>
    <form asp-controller="Country" asp-action="SetTaxes">
        <section>
            <p class="lhst_card_properties">
                <label>Set Taxes</label>
            </p>
            <p class="lhst_card_properties">
                Choose Land
                <select name="landId" class="lhst_dialog_select_input">
                    @for (int i = 0; i < Model.Lands.Count; i++)
                    {
                        <option class="lhst_option">@Model.Lands[i].LandId</option>
                    }
                </select>
            </p>
            <p class="lhst_card_properties">
                Land Tax Value %
                <input name="landTaxValue" class="lhst_dialog_rename_input" type="number" max="100" min="0" />
            </p>
            <p class="lhst_card_properties">
                State Tax Value %
                <input name="stateTaxValue" class="lhst_dialog_rename_input" type="number" max="100" min="0" />
            </p>
        </section>
        <menu class="text-center pl-0">
            <button type="submit" class="lhst_btn_moveToRegion">
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Confirm <img class="lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> 1</span></p>
            </button>
        </menu>
    </form>
</div>

<div class="lhst_dialog modal" id="changingRulerCountryDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideChangingRulerCountryDialog()">x</button>
    </div>
    <form asp-controller="Country" asp-action="ChangeRuler">
        <section>
            <p class="lhst_card_properties">
                <label>Current ruler: @Model.Ruler.UserName</label>
            </p>
            <p class="lhst_card_properties">
                New ruler
                <select name="newRulerName" class="lhst_dialog_select_input">
                    @for (int i = 0; i < Model.OtherRulers.Count(); i++)
                    {
                        <option class="lhst_option">@Model.OtherRulers[i]</option>
                    }
                </select>
            </p>
        </section>
        <menu class="text-center pl-0">
            <button type="submit" class="lhst_btn_moveToRegion">
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Confirm <img class="lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> 10</span></p>
            </button>
        </menu>
    </form>
</div>

<div class="lhst_dialog modal" id="appointGovernorDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideAppointGovernorDialog()">x</button>
    </div>
    <form asp-controller="Country" asp-action="AppointGovernor">
        <section>
            <p class="lhst_card_properties">
                <label>Appoint a governor</label>
            </p>

            <p class="lhst_card_properties">You can appoint someone who is currently in your country as governor.</p>
            <p class="lhst_card_properties">
                Choose land
                <select name="landId" class="lhst_dialog_select_input">
                    @for (int i = 0; i < Model.Lands.Count; i++)
                    {
                        <option class="lhst_option">@Model.Lands[i].LandId</option>
                    }
                </select>
            </p>
            <p class="lhst_card_properties">
                Select governor
                <select name="governorName" class="lhst_dialog_select_input">
                    @for (int i = 0; i < Model.OtherRulers.Count(); i++)
                    {
                        <option class="lhst_option">@Model.OtherRulers[i]</option>
                    }
                </select>
            </p>
        </section>
        <menu class="text-center pl-0">
            <button type="submit" class="lhst_btn_moveToRegion">
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Confirm <img class="lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> 10</span></p>
            </button>
        </menu>
    </form>
</div>

<div class="lhst_dialog modal" id="declaringWarCountryDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideDeclaringWarCountryDialog()">x</button>
    </div>
    <form asp-controller="Country" asp-action="DeclareWar" asp-route-player="@player" asp-route-country="@Model.Country">
        <section>
            <p class="lhst_card_properties">
                <label>Declare war</label>
            </p>
            <p class="lhst_card_properties">                
                <select name="warCombination" class="lhst_dialog_select_input">
                    @for (int i = 0; i < Model.BorderLands.Count; i++)
                    {
                        <option class="lhst_option">@Model.BorderLands[i].LandId - @Model.BorderLands[i].BorderLandId</option>
                    }
                </select>
            </p>
        </section>
        <menu class="text-center pl-0">
            <button type="submit" class="lhst_btn_moveToRegion">
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Confirm <img class="lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> 50</span></p>
            </button>
        </menu>
    </form>
</div>

<div class="lhst_dialog modal" id="disbandingCountryDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideDisbandingCountryDialog()">x</button>
    </div>
    <form asp-controller="Country" asp-action="DisbandCountry">
        <section>
            <p class="lhst_card_properties">
                <label>Your country: @Model.Country.Name</label>
            </p>
            <p class="lhst_card_properties">
                Are you sure to disband the country?
            </p>
        </section>
        <menu class="text-center pl-0">
            <button type="submit" class="lhst_btn_moveToRegion">
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Confirm <img class="lhst_independent_land_description_money_icon" loading="lazy" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> 1</span></p>
            </button>
        </menu>
    </form>
</div>