@model MiddleAges.ViewModels.PlayerOverviewNavViewModel

<div class="m-2">
    <div class="lhst_person-nav-container-inline" >
        <img id="player_avatar" class="nav-avatar-img" src="~/img/avatars/@(Model.Player.ImageURL).webp" alt="" />
    </div>   
    <div class="lhst_person-nav-container-inline lhst_person-data-div-align">
        <div class="lhst_person-div-overview-data mb-1 lhst_overview-player-name">
            <h2 class="m_playerBtn lhst_cursor_pointer" data-playerid=@Model.Player.Id style="font-size: @(Model.Player.UserName.Length > 10 ? 13 : 17)px">@Model.Player.UserName</h2>
        </div>
        <div class="row">
            <img class="lhst_coins-img" src="~/img/interface-icons/coins.png" alt="" />
            <p class="lhst_coins-text ml-1 mt-1 mb-0">@Math.Round(Model.Player.Money, 2).ToString().Replace(',', '.')</p>
        </div>
        <div class="row">
            <img class="lhst_coins-img mt-1" src="~/img/attributes/attrPoint.png" alt="" />
            <p id="availAttrPoints" class="lhst_coins-text ml-1 mb-0" style="margin-top: .36rem;">@CommonLogic.GetAvailAttrPoints(Model.Player.Lvl, Model.PlayerAttribute)</p>
        </div>
        <div class="row">
            @* <img class="lhst_coins-img mt-1" src="~/img/attributes/attrPoint.png" alt="" /> *@
            <p id="curlvl" class="lhst_coins-text ml-1 mb-0" style="margin-top: .36rem;">Level: @Model.Player.Lvl</p>
        </div>
       
        <div class="row lhst_progressbar_div mt-1">
            <progress class="lhst_progressbar" value="@(Model.Player.Exp - @CommonLogic.GetRequiredExpByLvl(Model.Player.Lvl))" max="@(CommonLogic.GetRequiredExpByLvl(Model.Player.Lvl+1) - CommonLogic.GetRequiredExpByLvl(Model.Player.Lvl))" title="@(Model.Player.Exp) / @CommonLogic.GetRequiredExpByLvl(Model.Player.Lvl+1)"></progress>
        </div>
    </div>    
   
</div>