@model MiddleAges.ViewModels.MainInfoViewModel
@using MiddleAges.ViewComponents

@{
    ViewData["Title"] = "middle ages";    
}

<div class="d-flex">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top">
        <div class="lhst_left_side_bar_land_content row justify-content-md-center">
            <div class="col lhst_map_region_icon_left_bar_col">
                <img id="selected_land_coat_of_arms" src="../img/map-regions-icons-middle-ages/@(Model.Player.CurrentLand).png" class="lhst_map_region_icon_left_bar" alt="map region coat of arms" loading="lazy" />
            </div>
            <div class="col lhst_current_land_text_content lhst_map_region_icon_left_bar_col">
                <p class="lhst_current_land_name mb-0 lhst_leftSideBar_country_name">@Model.Player.Land.Country.Name</p>
                <p class="lhst_current_land_name lhst_leftSideBar_land_name">@Model.Player.CurrentLand</p>
            </div>
        </div>
    </div>
    <div class="lhst_vertical-alignment-top lhst_main-section_mainmenu lhst_main_section_padding">
        <div class="float-left">
            @await Component.InvokeAsync(typeof(BuildingsViewComponent))
            @await Component.InvokeAsync(typeof(UnitsViewComponent))
        </div>
        <div class="float-left">
            <p class="lhst_possessions_titles">Production</p>
            <div class="lhst_production_card">
                <p class="w-100 flex-wrap mb-2 font-weight-normal">Every hour money will flow into your treasury. The amount of money depends on the number of working peasants and land taxes.</p>
                @{
                    string productionStatusString;
                    string productionBtnText;

                    if (Model.Player.EndDateTimeProduction < DateTime.UtcNow)
                    {
                        productionBtnText = "Start production";
                        productionStatusString = "Production has not yet started";
                    }
                    else
                    {
                        productionBtnText = "Restart production";
                        productionStatusString = "Production will end at: " + Model.Player.EndDateTimeProduction;
                    }

                    <input id="productionBtn" type="submit" class="lhst_btn_moveToRegion mb-2" value="@productionBtnText" onclick="restartProduction()" />
                    <p id="productionStatusStr" class="w-100 flex-wrap mb-2 font-weight-normal">@productionStatusString</p>
                }

                <div class="lhst_line ml-0 mr-0 mb-2"></div>
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Today's earnings: <img class="lhst_independent_land_description_money_icon" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount lhst_color-money"> @Math.Round(Model.Player.MoneyProduced, 2).ToString().Replace(',', '.')</span></p>
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Today's expenses: <img class="lhst_independent_land_description_money_icon" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount lhst_clr-brown"> -@Math.Round(Model.Player.MoneySpent, 2).ToString().Replace(',', '.')</span></p>
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Today's balance: <img class="lhst_independent_land_description_money_icon" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount @(Model.Player.MoneyProduced - Model.Player.MoneySpent < 0 ? "lhst_clr-brown" : "lhst_clr-money")"> @Math.Round(Model.Player.MoneyProduced - Model.Player.MoneySpent, 2).ToString().Replace(',', '.')</span></p>
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Remaining land limit: <img class="lhst_independent_land_description_money_icon" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> @Math.Round(Model.ResidenceLand.ProductionLimit, 2).ToString().Replace(',', '.')</span></p>
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Residence prod land: <span class="lhst_clr-money">@Model.ResidenceLand.LandId</span></p>
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Working residents: <span class="lhst_clr-money">@Model.Units[0].Count</span></p>
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Projected daily earnings: <img class="lhst_independent_land_description_money_icon lhst_clr-money" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> @(Math.Round(Model.Units[0].Count * 0.01 * 24.00 * (1 - Convert.ToDouble(Model.ResidenceLand.Taxes) / 100.00), 2).ToString().Replace(',', '.'))/day</span></p>
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Army maintenance: <img class="lhst_independent_land_description_money_icon" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_clr-brown"> -@(Math.Round(Model.Units[1].Count * 0.02 * 24.00, 2).ToString().Replace(',', '.'))/day</span></p>
                @{ 
                    double projectedDailyBalance = Math.Round(Model.Units[0].Count * 0.01 * 24.00 * (1 - Convert.ToDouble(Model.ResidenceLand.Taxes) / 100.00) - Model.Units[1].Count * 0.02 * 24.00, 2);
                }
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Projected daily balance: <img class="lhst_independent_land_description_money_icon @(projectedDailyBalance < 0 ? "lhst_clr-brown" : "lhst_clr-money")" src="~/img/interface-icons/coins.png" alt="" /><span class="lhst_independent_land_description_money_amount"> @(projectedDailyBalance.ToString().Replace(',', '.'))/day</span></p>
                <p class="w-100 flex-wrap mb-1 font-weight-normal">Taxes: <span class="lhst_clr-brown">@(Model.ResidenceLand.Taxes)%</span></p>

            </div>
        </div>
        <div class="float-left ml-3">
            <div class="d-flex">
                <p class="lhst_possessions_titles">Perks</p>
                <p class="lhst_possessions_titles">10 <img class="lhst_perks_coin_img" src="~/img/perks/perkCoin.png" alt="" /></p>
            </div>
            <div class="lhst_perks_card d-block">
                @*Перк 1*@
                <div class="d-flex row">
                    <img class="col-2 p-0" src="~/img/perks/perkEconomic.png" alt="" />
                    <p class="col-5 mt-3  p-0 flex-wrap font-weight-bolder mb-0">Management</p>
                    <p class="mt-3 col-2 p-0 flex-wrap font-weight-bolder mb-0">9</p>
                    <input class="mt-3 col-1 p-0 lhst_btn_building_lvlup" type="submit" value="+" />
                </div>
                @*Перк 2*@
                <div class="d-flex row">
                    <img class="col-2 p-0" src="~/img/perks/perkArmy.png" alt="" />
                    <p class=" col-5 mt-3  p-0 flex-wrap font-weight-bolder mb-0">Warfare</p>
                    <p class="mt-3 col-2 p-0 flex-wrap font-weight-bolder mb-0">10</p>
                    <input class="col-1 mt-3 p-0 lhst_btn_building_lvlup " type="submit" value="+" />
                </div>
                @*Перк 3*@
                <div class="d-flex row">
                    <img class="col-2 p-0" src="~/img/perks/perkRecruit.png" alt="" />
                    <p class="col-5 mt-3 p-0 flex-wrap font-weight-bolder mb-0">Leadership</p>
                    <p class="mt-3 col-2 p-0 flex-wrap font-weight-bolder mb-0">11</p>
                    <input class="col-1 mt-3 p-0 lhst_btn_building_lvlup" type="submit" value="+" />
                </div>

                <div class="lhst_perks_horizontal-line mt-1 mb-2"></div>

                @*Перк 1*@
                <div class="d-flex row">
                    <img class="col-2 p-0 " src="~/img/perks/perkEconomic.png" alt="" />
                    <p class="col-9 mt-0 p-0 flex-wrap font-weight-normal mb-0">Management: skill increases the base income of peasants by 2% for each level</p>
                   
                </div>
                @*Перк 2*@
                <div class="d-flex row">
                    <img class="col-2 p-0 " src="~/img/perks/perkArmy.png" alt="" />
                    <p class="col-9 mt-2 p-0 flex-wrap font-weight-normal mb-0">Warfare: increases army strength by 2% per level</p>
                   
                </div>
                @*Перк 3*@
                <div class="d-flex row">
                    <img class="col-2 p-0" src="~/img/perks/perkRecruit.png" alt="" />
                    <p class="col-9 mt-0 p-0 flex-wrap font-weight-normal mb-0">Leadership: the chance of receiving an additional recruit increases by 2% per level</p>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/main.js"></script>
</div>