@page
@model LoginModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Grand Duchy";
}

<body class="auth_background">
    <div class="auth_text_color text-center lhst_slider auth_max_height">
        <div class="d-inline-block text-center mt-5">
            <div class="text-center">
                <p class="auth_text_font ml-3">@ViewData["Title"]</p>
                <div class="mb-3">
                    <img class="auth_height" src="~/img/interface-icons/main-coat-of-arms.png" alt="" loading="lazy" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <p >
                                On a languid evening over strong ale, you, being a wealthy nobleman, are thinking about your difficult lot. Your lifetime was marked by the difficult era of the Middle Ages. Constant wars and epidemics have brought destruction to your lands. The peasants rebel and refuse to serve you as they did your father. Despite the fatigue, there is determination in your eyes! After all, only you can lead your dynasty and your lands to prosperity! Develop your lands and build a strong army, become a fearsome war lord or a peaceful merchant!
                            </p>                            
                        </div>
                        <div class="col-sm-12 col-md-4 ">
                            <form id="account" method="post" class="text-center" onsubmit="return validateRecaptcha()">
                                @* <hr /> *@
                                <div asp-validation-summary="All" class="text-danger "></div>
                                <div class="text-center mb-2" tabindex="0">
                                    <input asp-for="Input.Email" class="auth_form-control lhst_cursor_text" placeholder="EMAIL" type="email" autofocus autocomplete="on" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="text-center password mb-2" tabindex="1">
                                    <input asp-for="Input.Password" id="password-input" class="auth_form-control" placeholder="PASSWORD" type="password" />
                                    <a href="#" class="password-control" onclick="show_hide_password(this);"></a>
                                    <span asp-validation-for="Input.Password" class="text-danger "></span>                                    
                                </div>
                                <div class="form-group text-center mb-0 mt-2" tabindex="2">
                                    <button type="submit" class="btn auth_btn auth_text_font_but">
                                        @Localizer["SignIn"]
                                    </button>
                                </div>
                                @* <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div> *@
                                @* <hr /> *@
                                <div class="form-group d-inline-flex mt-2">
                                    <p class="mr-2">
                                        <a asp-page="./Register" class="auth_text_font_a" asp-route-returnUrl="@Model.ReturnUrl">Create account</a>
                                    </p>
                                    <p>
                                        <a id="forgot-password" class="auth_text_font_a" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                </div>
                                

                            </form>
                        </div>
                        <div class="col-sm-12 col-md-4 lhst_desktop">
                            <div class="row d-inline-flex">
                                <div class="col-6 lhst_scale">
                                    <img class="auth_height_side lhst_cursor_pointer" src="~/img/menu-icons/main_menu.jpg" alt="" loading="lazy" data-title="main_menu" onclick="openMainMenuScreensDialog()" />
                                    <img class="auth_height_side lhst_cursor_pointer" src="~/img/menu-icons/map_menu.jpg" alt="" loading="lazy" data-title="map_menu" onclick="openMapMenuScreensDialog()" />
                                </div>
                                <div class="col-6 lhst_scale">
                                    <img class="auth_height_side lhst_cursor_pointer" src="~/img/menu-icons/country_menu.jpg" alt="" loading="lazy" data-title="country_menu" onclick="openCountryMenuScreensDialog()" />
                                    <img class="auth_height_side lhst_cursor_pointer" src="~/img/menu-icons/wars_menu.jpg" alt="" loading="lazy" data-title="wars_menu" onclick="openWarsMenuScreensDialog()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       @*  <div class="lhst_vertical-alignment-top float-right text-right">
            <img class="float-right text-right auth_height" src="~/img/interface-icons/register.jpg" alt="" loading="lazy"/>
        </div> *@
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" data-title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
    </div>
    <script src="~/js/register.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/country_page_actions.js"></script>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="lhst_dialog_screens modal" id="mainMenuScreensDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideMainMenuScreensDialog()">x</button>
    </div>
    <div class="text-center pl-0">
        <img class="screen_height" src="~/img/menu-icons/main_menu.jpg" alt="" loading="lazy" data-title="main_menu" />
    </div>

</div>
<div class="lhst_dialog_screens modal" id="mapMenuScreensDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideMapMenuScreensDialog()">x</button>
    </div>
    <div class="text-center pl-0">
        <img class="screen_height" src="~/img/menu-icons/map_menu.jpg" alt="" loading="lazy" data-title="map_menu" />
    </div>

</div>
<div class="lhst_dialog_screens modal" id="countryMenuScreensDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideCountryMenuScreensDialog()">x</button>
    </div>
    <div class="text-center pl-0">
        <img class="screen_height" src="~/img/menu-icons/country_menu.jpg" alt="" loading="lazy" data-title="country_menu" />
    </div>

</div>
<div class="lhst_dialog_screens modal" id="warsMenuScreensDialog">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideWarsMenuScreensDialog()">x</button>
    </div>
    <div class="text-center pl-0">
        <img class="screen_height" src="~/img/menu-icons/wars_menu.jpg" alt="" loading="lazy" data-title="wars_menu" />
    </div>

</div>
