@page
@model LoginModel

@{
    ViewData["Title"] = "MIDDLE AGES";
}

<body class="auth_background">
    <div class="auth_text_color text-center">
        <div class="d-inline-block text-center mt-5">
            <div>
                <p class="auth_text_font ml-3 mt-5">@ViewData["Title"]</p>
                <div class="mb-5">
                    <img class="auth_height" src="~/img/interface-icons/gerb.png" alt="" loading="lazy" />
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4 ">
                            <p>
                                Middle Ages - первый проект, разработанный компанией lhstcorp. Это средневековая игра в жанре стратегии, которая позволит попасть в Беларусь тех времен. Сражения за земли с другими игроками, организация восстаний, правление собственным государством - всё это вы сможете опробовать в данной игре. MIDDLE AGES - стань легендой средневековья!
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-4 ">
                            <form id="account" method="post" class="text-center">
                                <h4 class="auth_text_font_login text-center ">LOGIN</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger "></div>
                                <div class="form-group text-center">
                                    <input asp-for="Input.Email" class="auth_form-control" placeholder="EMAIL" type="email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group  text-center">
                                    <input asp-for="Input.Password" class="auth_form-control" placeholder="PASSWORD" type="password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn auth_btn auth_text_font_but ">SIGN IN</button>
                                </div>
                                @* <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div> *@
                                <hr />
                                <div class="form-group d-inline-flex auth_div_width">
                                    <p class="w-50">
                                        <a asp-page="./Register" class="auth_text_font_a" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
                       
                                    </p>
                                    <p class="w-50">
                                        <a id="forgot-password" class="auth_text_font_a" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="row d-inline-flex">
                                <div class="col-6 lhst_scale">
                                    <img class="auth_height" src="~/img/map-regions-icons-middle-ages/Alytus.png" alt="" loading="lazy" />
                                    <img class="auth_height" src="~/img/map-regions-icons-middle-ages/Kaunas.png" alt="" loading="lazy" />
                                </div>
                                <div class="col-6 lhst_scale">
                                    <img class="auth_height" src="~/img/map-regions-icons-middle-ages/Monki.png" alt="" loading="lazy" />
                                    <img class="auth_height" src="~/img/map-regions-icons-middle-ages/Pruzhany.png" alt="" loading="lazy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       @*  <div class="lhst_vertical-alignment-top float-right text-right">
            <img class="float-right text-right auth_height" src="~/img/interface-icons/register.jpg" alt="" loading="lazy"/>
        </div> *@
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to log in.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
    </div>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
