@using MiddleAges.Entities;
@model List<MiddleAges.Entities.Player>

@{
    ViewData["Title"] = "middle ages";

    List<Player> playersOrderByMoney = new List<Player>();
    playersOrderByMoney = Model.OrderByDescending(p => p.Money).ToList();

    List<Player> playersOrderByXP = new List<Player>();
    playersOrderByXP = Model.OrderByDescending(p => p.Exp).ToList();
}

<div class="d-flex">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top"></div>
    <div class="lhst_vertical-alignment-top lhst_main-section lhst_avatar_inline ">
        <div class="lhst_avatar_inline align-top lhst_tabs_div lhst_nav tab">
            <button class="tablinks" onclick="rating(event, 'Money')">Money</button>
            <button class="tablinks" onclick="rating(event, 'XP')">XP</button>
            <div id="Money" class="tabcontent lhst_inTab lhst_slider">
                @for (int i = 0; i < playersOrderByMoney.Count; i++)
                {
                    <div class="lhst_country_history_comment text-left!important d-inline-flex">
                        <img class="lhst_country_history_img" height="42" src="../img/avatars/@(playersOrderByMoney[i].ImageURL).jfif" alt="">
                        <p class="lhst_country_history_text">@(i+1)</p>
                        <p class="lhst_country_history_text lhst_ratingName_width">@playersOrderByMoney[i].UserName</p>
                        <div class="lhst_inline ml-5">
                            <img class="lhst_coins-img" src="~/img/interface-icons/coins.png" alt="" loading="lazy" />
                        </div>
                        <p class="lhst_country_history_text ">@Math.Round(playersOrderByMoney[i].Money,2)</p>
                    </div>
                    <div class="lhst_tabs_line mb-1"></div>
                }
            </div>
            <div id="XP" class="tabcontent lhst_inTab lhst_slider">
                @for (int i = 0; i < playersOrderByXP.Count; i++)
                {
                    <div class="lhst_country_history_comment text-left!important d-inline-flex">
                        <img class="lhst_country_history_img" height="42" src="../img/avatars/@(playersOrderByXP[i].ImageURL).jfif" alt="">
                        <p class="lhst_country_history_text">@(i+1)</p>
                        <p class="lhst_country_history_text lhst_ratingName_width">@playersOrderByXP[i].UserName</p>
                        <div class="lhst_inline ml-5">
                            <img class="lhst_coins-img" src="~/img/interface-icons/coins.png" alt="" loading="lazy" />
                        </div>
                        <p class="lhst_country_history_text ">@playersOrderByXP[i].Exp</p>
                    </div>
                    <div class="lhst_tabs_line mb-1">
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/js/tabs.js" type="text/javascript" language="JavaScript"></script>
</div>