@using MiddleAges.Entities;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "middle ages";
    
    List<Player> playersOrderByMoney = new List<Player>();
    //playersOrderByMoney = Model.OrderByDescending(p => p.Money).ToList();

    List<Player> playersOrderByXP = new List<Player>();
    //playersOrderByXP = Model.OrderByDescending(p => p.Exp).ToList();    
}

<div class="d-flex">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top"></div>
    <div class="lhst_vertical-alignment-top lhst_main-section lhst_avatar_inline ">
        <div class="lhst_avatar_inline align-top lhst_tabs_div lhst_nav tab">

            <div class="row">
                <button id="TotalBtn" class="tablinks" onclick="openRating('Total')">@Localizer["Total"]</button>
                <button id="ExpBtn" class="tablinks" onclick="openRating('Exp')">@Localizer["XP"]</button>
                <button id="MoneyBtn" class="tablinks" onclick="openRating('Money')">@Localizer["Money"]</button>
                <button id="PowerBtn" class="tablinks" onclick="openRating('Power')">@Localizer["Power"]</button>
                <div class="ml-1">
                    <input id="playerNameInput" class="lhst_rating-input" type="text" minlength="3" />
                    <img class="lhst_rating_loupe lhst_cursor_pointer" src="~/img/interface-icons/loupe.png" alt="" loading="lazy" onclick="findPlayer()" />
                </div>
            </div>

            <div class="lhst_tabs_line lhst_tabs_line-bg-clr-gray mb-1"></div>

            <div>
                <div class="row">
                    <div>
                        <p class="mb-0 mt-2 lhst_rating-small-ints">#</p>
                    </div>
                    <div class="mr-2">
                        <img class="country_card-population-img" src="~/img/default-icon/players.png" alt="" title="Lords" loading="lazy" />
                    </div>
                    <div style="width: 100px">
                        <p class="mb-0 mt-2" style="text-align: left">@Localizer["PlayerName"]</p>
                    </div>
                    <div class="lhst_rating-small-ints mr-2">
                        <img class="country_card-population-img lhst_rating-img" src="~/img/rating-icons/exp.png" alt="" title="@Localizer["Experience"]" loading="lazy" />
                    </div>
                    <div class="lhst_rating-small-ints mr-2">
                        <img class="country_card-population-img lhst_rating-img" src="~/img/rating-icons/money.png" alt="" title="@Localizer["Money"]" loading="lazy" />
                    </div>
                    <div class="lhst_rating-small-ints">
                        <img class="country_card-population-img lhst_rating-img" src="~/img/rating-icons/power.png" alt="" title="@Localizer["WarPower"]" loading="lazy" />
                    </div>
                </div>

                <div class="lhst_tabs_line lhst_tabs_line-bg-clr-gray mb-1"></div>

                <div id="ratinglines" class="lhst_inTab lhst_slider">                    
                    @*@for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="row">
                            <div>
                                <p class="mb-0 mt-2 lhst_rating-small-ints">@Model[i].TotalPlace</p>
                            </div>
                            <div class="mr-2">
                                <img class="country_card-population-img" src="../img/avatars/@(Model[i].Player.ImageURL).webp" alt="" data-title="Lords" loading="lazy" />
                            </div>
                            <div style="width: 100px">
                                <p class="mb-0 mt-2">@Model[i].Player.UserName</p>
                            </div>
                            <div class="lhst_rating-small-ints mr-2">
                                <p class="mb-0 mt-2">@Model[i].ExpPlace</p>
                            </div>
                            <div class="lhst_rating-small-ints mr-2">
                                <p class="mb-0 mt-2">@Model[i].MoneyPlace</p>
                            </div>
                            <div class="lhst_rating-small-ints">
                                <p class="mb-0 mt-2">@Model[i].WarPowerPlace</p>
                            </div>
                        </div>
                    }*@
                </div>

                <div class="lhst_tabs_line lhst_tabs_line-bg-clr-gray mb-1"></div>

                <div class="row mb-1" style="float: right; margin-right: 1rem !important">
                    <button id="pageLeft" class="tablinks" onclick="prevPage()">⮜</button>
                    <p id="pageNum" data-page=1 class=" ml-2 mt-2 mr-2 mb-0">@Localizer["Page"]</p>
                    <button id="pageRight" class="tablinks" onclick="nextPage()">⮞</button>
                </div>
            </div>

            @*<div id="Money" class="tabcontent lhst_inTab lhst_slider">

            @for (int i = 0; i < playersOrderByMoney.Count; i++)
            {
                <div class="lhst_country_history_comment text-left!important d-inline-flex">
                    <div class="lhst_scale">
                        <img class="lhst_country_history_img lhst_cursor_pointer" onclick="showPlayerInfoDialog()" height="32" src="../img/avatars/@(playersOrderByMoney[i].ImageURL).webp" alt="">
                    </div>
                    <p class="lhst_country_history_text">@(i+1)</p>
                    <p class="lhst_country_history_text lhst_ratingName_width lhst_cursor_pointer" onclick="showPlayerInfoDialog()">@playersOrderByMoney[i].UserName</p>
                    <div class="lhst_inline ml-5">
                        <img class="lhst_coins-img" src="~/img/interface-icons/coins.png" alt="" loading="lazy" />
                    </div>
                    <p class="lhst_country_history_text ">@Math.Round(playersOrderByMoney[i].Money, 2)</p>
                </div>
                <div class="lhst_tabs_line mb-1"></div>

            }
            <div class="d-inline-flex ml-3 ">
                <input name="findPlayer" id="findPlayer" class="lhst_input_rating" type="text" />
                <img id="findPlayerByMoney" name="findPlayerByMoney" class="lhst_loupe-img ml-2 lhst_cursor_pointer" src="~/img/interface-icons/loupe.png" alt="" loading="lazy" onclick="" />
            </div>
        </div>
        <div id="XP" class="tabcontent lhst_inTab lhst_slider">

            @for (int i = 0; i < playersOrderByXP.Count; i++)
            {
                <div class="lhst_country_history_comment text-left!important d-inline-flex">
                    <div class="lhst_scale">
                        <img class="lhst_country_history_img lhst_cursor_pointer" onclick="showPlayerInfoDialog()" height="32" src="../img/avatars/@(playersOrderByXP[i].ImageURL).webp" alt="">
                    </div>
                    <p class="lhst_country_history_text">@(i+1)</p>
                    <p class="lhst_country_history_text lhst_ratingName_width lhst_cursor_pointer" onclick="showPlayerInfoDialog()">@playersOrderByXP[i].UserName</p>
                    <div class="lhst_inline ml-5">
                        <img class="lhst_coins-img" src="~/img/interface-icons/coins.png" alt="" loading="lazy" />
                    </div>
                    <p class="lhst_country_history_text ">@playersOrderByXP[i].Exp</p>
                </div>
                <div class="lhst_tabs_line mb-1">
                </div>
            }
            <div class="d-inline-flex ml-3">
                <input name="findPlayer" id="findPlayer" class="lhst_input_rating" type="text" />
                <img id="findPlayerByXP" name="findPlayerByXP" class="lhst_loupe-img ml-2 lhst_cursor_pointer" src="~/img/interface-icons/loupe.png" alt="" loading="lazy" onclick="" />
            </div>
        </div>*@
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/rating.js" type="text/javascript" language="JavaScript"></script>

    <div class="lhst_dialog modal" id="playerInfoDialog">
        <div class="text-right">
            <button class="lhst_btn_dialog_cancel" onclick="hidePlayerInfoDialog()">x</button>
        </div>
        <form asp-controller="Player">
            <section>
                <div class="row p-0 d-flex">

                    <img src="../img/avatars/1.webp" width="20" height="20" loading="lazy" alt="">

                    <p class="lhst_card_properties">
                        <label>Alex</label>
                    </p>

                    <img src="../img/map-regions-icons-middle-ages/Brest.png" loading="lazy" width="20" height="20" alt="">

                    <p class="lhst_card_properties">
                        <label>PepeTheFrogCompany</label>
                    </p>
                </div>
                <div class="row p-0 d-flex">
                    <img src="../img/default-icon/farmer.png" loading="lazy" width="20" height="20" alt="">
                    <p class="lhst_card_properties">
                        <label>Population</label>
                    </p>

                    <p class="lhst_card_properties">
                        <label>54435</label>
                    </p>
                </div>
                <div class="row p-0 d-flex">
                    <img src="../img/default-icon/knight.png" loading="lazy" width="20" height="20" alt="">
                    <p class="lhst_card_properties">
                        <label>Knights</label>
                    </p>

                    <p class="lhst_card_properties">
                        <label>432</label>
                    </p>
                </div>
            </section>

        </form>
    </div>
</div>