@using MiddleAges.Entities;
@using MiddleAges.ViewModels;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using Newtonsoft.Json;
@model List<MiddleAges.ViewModels.WarInfoViewModel>

@{
    ViewData["Title"] = "middle ages";
    List<WarInfoViewModel> allWars = new List<WarInfoViewModel>();
    allWars = Model;

    List<WarInfoViewModel> countryWars = new List<WarInfoViewModel>();
    if (allWars.Count > 0)
    {
        Guid playerCountryId = allWars[0].Player.Land.Country.CountryId;

        countryWars = allWars.FindAll(w => w.CountryFrom.CountryId == playerCountryId
                                        || w.CountryTo.CountryId == playerCountryId);
    }

}

<div class="d-flex">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top"></div>
    <div class="lhst_vertical-alignment-top lhst_main-section d-inline-block">
        <div class="lhst_wars_div tab">
            <button id="countryWarsBtn" class="active" onclick="openCountryWarsTab()">Country Wars</button>
            <button id="worldWarsBtn" onclick="openWorldWarsTab()">All Wars</button>
            @* <div class="tabcontent lhst_inTab lhst_slider"> *@
            <div id="worldWarsTab" class="lhst_slider mt-2 warcontent lhst_inTab lhst_slider_small_screen d-none">
                @for (int i = 0; i < allWars.Count; i++)
                {
                    <div class="row p-0">
                        <div class="col-2 p-0">
                            <img class="lhst_war_country_img" src="../img/map-regions-icons-middle-ages/@(allWars[i].LandFrom.LandId).png" alt="">
                        </div>
                        <div class="col-2 p-0">
                            <p class="lhst_wars_country_text ">@allWars[i].CountryFrom.Name</p>
                            <p class="lhst_wars_lands_text ">@allWars[i].LandFrom.LandId</p>
                        </div>
                        <div class="col-4 p-0">
                            <div class="row p-0">
                                <div class="col-4 p-0 text-right">
                                    <p class="text-right lhst_country_info_region_value mb-0">@allWars[i].WarArmiesViewModel.AttackersSoldiersCount</p>
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                                </div>
                                <div class="col-4 p-0">
                                    <p class="lhst_country_info_region_value">@allWars[i].WarArmiesViewModel.DefendersSoldiersCount</p>
                                </div>
                            </div>
                            <div class="row p-0">
                                <div class="col-4 p-0 text-right">
                                    <p class="text-right lhst_country_info_region_value mb-0">@allWars[i].WarArmiesViewModel.AttackersArmies.Count</p>
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                                </div>
                                <div class="col-2 p-0 ">
                                    <p class="lhst_country_info_region_value">@allWars[i].WarArmiesViewModel.DefendersArmies.Count</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 float-right p-0">
                                    @if (allWars[i].War.StartDateTime.AddHours(24) > DateTime.UtcNow)
                                    {
                                        TimeSpan ts = allWars[i].War.StartDateTime - DateTime.UtcNow;
                                        string leftTime = new DateTime(ts.Ticks).ToString("HH:mm:ss");
                                        <p class="float-right mr-2 lhst_country_info_region_value mb-0 mt-2">Left: @leftTime</p>
                                    }
                                    else if (!allWars[i].War.IsEnded)
                                    {
                                        <p class="float-right lhst_country_info_region_value mb-0 mt-2 mr-2">Started</p>
                                    }
                                    else
                                    {
                                        <p class="float-right lhst_country_info_region_value mb-0 mt-2 mr-2">Ended</p>
                                    }
                                </div>
                                <div class="col-6 float-left p-0">
                                    <input type="submit" class="lhst_btn_unit_recruit warDetailsBtn ml-2" data-warid=@allWars[i].War.WarId value="Details" />
                                </div>
                            </div>
                        </div>
                        <div class="col-2 p-0 text-right">
                            <p class="lhst_wars_country_text ">@allWars[i].CountryTo.Name</p>
                            <p class="lhst_wars_lands_text ">@allWars[i].LandTo.LandId</p>
                        </div>
                        <div class="col-2 p-0">
                            <img class="lhst_war_country_img" src="../img/map-regions-icons-middle-ages/@(allWars[i].LandTo.LandId).png" alt="">
                        </div>
                    </div>
                }
            </div>
            <div id="countryWarsTab" class="lhst_slider mt-2 warcontent lhst_inTab lhst_slider_small_screen d-block">
                @for (int i = 0; i < countryWars.Count; i++)
                {
                <div class="row p-0">
                    <div class="col-2 p-0">
                        <img class="lhst_war_country_img" src="../img/map-regions-icons-middle-ages/@(countryWars[i].LandFrom.LandId).png" alt="">
                    </div>
                    <div class="col-2 p-0">
                        <p class="lhst_wars_country_text ">@countryWars[i].CountryFrom.Name</p>
                        <p class="lhst_wars_lands_text ">@countryWars[i].LandFrom.LandId</p>
                    </div>
                    <div class="col-4 p-0">
                        <div class="row p-0">
                            <div class="col-4 p-0 text-right">
                                <p class="text-right lhst_country_info_region_value mb-0">@countryWars[i].WarArmiesViewModel.AttackersSoldiersCount</p>
                            </div>
                            <div class="col-2 p-0">
                                <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                            </div>
                            <div class="col-2 p-0">
                                <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                            </div>
                            <div class="col-4 p-0">
                                <p class="text-right lhst_country_info_region_value mb-0">@countryWars[i].WarArmiesViewModel.DefendersSoldiersCount</p>
                            </div>
                        </div>
                        <div class="row p-0">
                            <div class="col-4 p-0 text-right">
                                <p class="text-right lhst_country_info_region_value mb-0">@countryWars[i].WarArmiesViewModel.AttackersArmies.Count</p>
                            </div>
                            <div class="col-2 p-0">
                                <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                            </div>
                            <div class="col-2 p-0">
                                <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                            </div>
                            <div class="col-4 p-0">
                                <p class="text-right lhst_country_info_region_value mb-0">@countryWars[i].WarArmiesViewModel.DefendersArmies.Count</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 float-right p-0">
                                @if (countryWars[i].War.StartDateTime > DateTime.UtcNow)
                                {
                                    TimeSpan ts = allWars[i].War.StartDateTime - DateTime.UtcNow;
                                    string leftTime = new DateTime(ts.Ticks).ToString("HH:mm:ss");
                                    <p class="float-right mr-2 lhst_country_info_region_value mb-0 mt-2">Left: @leftTime</p>
                                }
                                else if (!countryWars[i].War.IsEnded)
                                {
                                    <p class="float-right lhst_country_info_region_value mb-0 mt-2 mr-2">Started</p>
                                }
                                else
                                {
                                    <p class="float-right lhst_country_info_region_value mb-0 mt-2 mr-2">Ended</p>
                                }
                            </div>
                            <div class="col-6 float-left p-0">
                                <input type="submit" class="lhst_btn_unit_recruit warDetailsBtn ml-2" data-warid=@countryWars[i].War.WarId value="Details" />
                            </div>
                        </div>
                    </div>
                    <div class="col-2 p-0 text-right">
                        <p class="lhst_wars_country_text ">@countryWars[i].CountryTo.Name</p>
                        <p class="lhst_wars_lands_text ">@countryWars[i].LandTo.LandId</p>
                    </div>
                    <div class="col-2 p-0">
                        <img class="lhst_war_country_img" src="../img/map-regions-icons-middle-ages/@(countryWars[i].LandTo.LandId).png" alt="">
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/war.js"></script>
    <script src="~/js/wars_details.js"></script>
</div>


<div class="lhst_dialog_wars modal lhst_slider_small_screen" id="warsDetails">
    <div class="text-right">
        <button class="lhst_btn_dialog_cancel" onclick="hideDetailsWar()">x</button>
    </div>

    <div class="row p-0">
        <div class="col-2 p-0">
            <img id="imgFrom" class="lhst_war_country_img" src="../img/map-regions-icons-middle-ages/Hrodna.png" alt="">
        </div>
        <div class="col-8 p-0">
            <div class="row p-0 lhst_row_height">
                <div class="col-3 p-0">
                    <p id="countryFromName" class="lhst_wars_country_text">CountryFrom</p>
                </div>
                <div class="col-2 p-0 text-right">
                    <p id="soldiersCountLeft" class="text-right lhst_country_info_region_value">937</p>
                </div>
                <div class="col-1 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                </div>
                <div class="col-1 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" alt="">
                </div>
                <div class="col-2 p-0">
                    <p id="soldiersCountRight" class="lhst_country_info_region_value">647</p>
                </div>
                <div id="countryToName" class="col-3 p-0">
                    <p id="countryToName" class="lhst_wars_country_text ">CountryTo</p>
                </div>
            </div>
            <div class="row lhst_row_height">
                <div class="col-3 p-0">
                    <p id="landFromName" class="lhst_wars_lands_text ">LandFrom</p>
                </div>
                <div class="col-2 p-0 text-right">
                    <p id="armiesCountLeft" class="text-right lhst_country_info_region_value">0</p>
                </div>
                <div class="col-1 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                </div>
                <div class="col-1 p-0">
                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" alt="">
                </div>
                <div class="col-2 p-0 ">
                    <p id="armiesCountRight" class="lhst_country_info_region_value">12</p>
                </div>
                <div class="col-3 p-0">
                    <p id="landToName" class="lhst_wars_lands_text ">LandTo</p>
                </div>
            </div>
            @*<form asp-controller="War" asp-action="SendTroops">*@
                <div class="row lhst_row_height mt-3">
                    <div class="col-4 p-0">
                        <input id="soldiersCountLeftValue" name="unitsAmountLeftCountryWarInput" list="values" class="lhst_tb_unit_recruit" type="number" value="1" max="100" onkeyup="this.value = this.value.replace(/[^\d]/g,'');" />
                    </div>
                    <div class="col-2 p-0">
                        <input type="submit" class="lhst_btn_unit_recruit" onclick="sendTroopsLeftSide()" value="Send" />
                    </div>
                    <div class="col-2 p-0">
                        <input type="submit" class="lhst_btn_unit_recruit" onclick="sendTroopsRightSide()" value="Send" />
                    </div>
                    <div class="col-4 p-0 text-right">
                        <input id="soldiersCountRightValue" name="unitsAmountRightCountryWarInput" list="values" class="lhst_tb_unit_recruit" type="number" value="1" max="100" onkeyup="this.value = this.value.replace(/[^\d]/g,'');" />
                    </div>
                </div>
            @*</form>*@

        </div>
        <div class="col-2 p-0 float-right">
            <img id="imgTo" class="lhst_war_country_img lhst_country_history_img" src="../img/map-regions-icons-middle-ages/Lahoisk.png" alt="">
        </div>

    </div>
    <div class="row p-0 overflow-auto">
        <div id="attackersDiv" class="col-6 p0 pt-3 lhst_slider">
            @for (int i = 0; i < 50; i++)
            {
                    <img class="lhst_country_history_img" height="32" src="~/img/avatars/1.webp" alt="" loading="lazy">
                    <p class="lhst_country_info_region_value">96537</p>
                               
            }
        </div>
        <div id="defendersDiv" class="col-6 p0 pt-3 lhst_slider">
            @for (int i = 0; i < 50; i++)
            {
                <img class="lhst_country_history_img" height="32" src="~/img/avatars/1.webp" alt="" loading="lazy">
                <p class="lhst_country_info_region_value">54937</p>
            }
        </div>
    </div>


</div>