@using MiddleAges.Entities;
@using MiddleAges.ViewModels;
@using System.Text.Json;
@using System.Text.Json.Serialization;
@using Newtonsoft.Json;
@model List<MiddleAges.ViewModels.WarInfoViewModel>

@{
    ViewData["Title"] = "middle ages";
    List<WarInfoViewModel> allWars = new List<WarInfoViewModel>();
    allWars = Model;

    List<WarInfoViewModel> countryWars = new List<WarInfoViewModel>();
    if (allWars.Count > 0)
    {
        Guid playerCountryId = allWars[0].Player.Land.Country.CountryId;

        countryWars = allWars.FindAll(w => w.CountryFrom.CountryId == playerCountryId
                                        || w.CountryTo.CountryId == playerCountryId);
    }
}

<div class="d-flex">
    <div class="lhst_left-side-bar lhst_vertical-alignment-top"></div>
    <div class="lhst_vertical-alignment-top lhst_main-section d-inline-block">
        <div class="lhst_wars_div tab">
            <button id="countryWarsBtn" class="active" onclick="openCountryWarsTab()">Country Wars</button>
            <button id="worldWarsBtn" onclick="openWorldWarsTab()">All Wars</button>
            @* <div class="tabcontent lhst_inTab lhst_slider"> *@
            <div id="worldWarsTab" class="lhst_slider mt-2 warcontent d-none">
                @for (int i = 0; i < allWars.Count; i++)
                {
                    <div class="row p-0">
                        <div class="col-2 p-0">
                            @if (allWars[i].War.IsRevolt)
                            {
                                <img class="lhst_war_country_img" src="../img/default-icon/rebel-coat.png" alt="" loading="lazy">
                            }
                            else
                            {
                                <img class="lhst_war_country_img lhst_cursor_pointer m_landBtn" data-land="@allWars[i].LandFrom.LandId.Replace(' ', '_')" src="../img/map-regions-icons-middle-ages/@(allWars[i].LandFrom.LandId).png" alt="" loading="lazy">
                            }
                        </div>
                        <div class="col-2 p-0">
                            <p class="lhst_wars_country_text ">@allWars[i].CountryFrom.Name</p>
                            <p class="lhst_wars_lands_text lhst_geo_object lhst_cursor_pointer m_landBtn" data-land="@allWars[i].LandFrom.LandId.Replace(' ', '_')">@allWars[i].LandFrom.LandId</p>
                        </div>
                        <div class="col-4 p-0">
                            <div class="row p-0">
                                <div class="col-4 p-0 text-right">
                                    <p class="text-right lhst_country_info_region_value mb-0" data-title="Attackers Soldiers">@allWars[i].WarArmiesViewModel.AttackersSoldiersCount</p>
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" title="Attackers Soldiers" alt="" loading="lazy">
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" title="Defenders Soldiers" alt="" loading="lazy">
                                </div>
                                <div class="col-4 p-0">
                                    <p class="lhst_country_info_region_value" data-title="Defenders Soldiers">@allWars[i].WarArmiesViewModel.DefendersSoldiersCount</p>
                                </div>
                            </div>
                            <div class="row p-0">
                                <div class="col-4 p-0 text-right">
                                    <p class="text-right lhst_country_info_region_value mb-0" data-title="Attackers Lords">@allWars[i].WarArmiesViewModel.AttackersArmies.Count</p>
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" title="Attackers Lords" alt="" loading="lazy">
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" title="Defenders Lords" alt="" loading="lazy">
                                </div>
                                <div class="col-2 p-0 ">
                                    <p class="lhst_country_info_region_value" data-title="Defenders Lords">@allWars[i].WarArmiesViewModel.DefendersArmies.Count</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 float-right p-0">
                                    @if (allWars[i].War.StartDateTime.AddHours(24) > DateTime.UtcNow)
                                    {
                                        TimeSpan ts = allWars[i].War.StartDateTime - DateTime.UtcNow;
                                        string leftTime = "";
                                        if (ts > TimeSpan.Zero)
                                        {
                                            leftTime = new DateTime(ts.Ticks).ToString("HH:mm:ss");
                                        }
                                        <p class="float-right mr-2 lhst_country_info_region_value mb-0 mt-2">Left: @leftTime</p>
                                    }
                                    else if (!allWars[i].War.IsEnded)
                                    {
                                        <p class="float-right lhst_country_info_region_value mb-0 mt-2 mr-2">Started</p>
                                    }
                                    else
                                    {
                                        <p class="float-right lhst_country_info_region_value mb-0 mt-2 mr-2">Ended</p>
                                    }
                                </div>
                                <div class="col-6 float-left p-0">
                                    <input type="submit" class="lhst_btn_unit_recruit warDetailsBtn ml-2" data-warid=@allWars[i].War.WarId value="Details" />
                                </div>
                            </div>
                        </div>
                        <div class="col-2 p-0 text-right">
                            <p class="lhst_wars_country_text ">@allWars[i].CountryTo.Name</p>
                            <p class="lhst_wars_lands_text lhst_geo_object lhst_cursor_pointer m_landBtn" data-land="@allWars[i].LandTo.LandId.Replace(' ', '_')">@allWars[i].LandTo.LandId</p>
                        </div>
                        <div class="col-2 p-0">
                            <img class="lhst_war_country_img lhst_cursor_pointer m_landBtn" data-land="@allWars[i].LandTo.LandId.Replace(' ', '_')" src="../img/map-regions-icons-middle-ages/@(allWars[i].LandTo.LandId).png" alt="" loading="lazy">
                        </div>
                    </div>
                }
            </div>
            <div id="countryWarsTab" class="mt-2 warcontent lhst_slider d-block">
                @for (int i = 0; i < countryWars.Count; i++)
                {
                    <div class="row p-0">
                        <div class="col-2 p-0">
                            @if (countryWars[i].War.IsRevolt)
                            {
                                <img class="lhst_war_country_img" src="../img/default-icon/rebel-coat.png" alt="" loading="lazy">
                            }
                            else
                            {
                                <img class="lhst_war_country_img lhst_cursor_pointer m_landBtn" data-land="@countryWars[i].LandFrom.LandId.Replace(' ', '_')" src="../img/map-regions-icons-middle-ages/@(countryWars[i].LandFrom.LandId).png" alt="" loading="lazy">
                            }
                        </div>
                        <div class="col-2 p-0">
                            <p class="lhst_wars_country_text ">@countryWars[i].CountryFrom.Name</p>
                            <p class="lhst_wars_lands_text lhst_geo_object lhst_cursor_pointer m_landBtn" data-land="@countryWars[i].LandFrom.LandId.Replace(' ', '_')">@countryWars[i].LandFrom.LandId</p>
                        </div>
                        <div class="col-4 p-0">
                            <div class="row p-0">
                                <div class="col-4 p-0 text-right">
                                    <p class="text-right lhst_country_info_region_value mb-0" data-title="Attackers Soldiers">@countryWars[i].WarArmiesViewModel.AttackersSoldiersCount</p>
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" title="Attackers Soldiers" alt="" loading="lazy">
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/knight.png" title="Defenders Soldiers" alt="" loading="lazy">
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right lhst_country_info_region_value mb-0" data-title="Defenders Soldiers">@countryWars[i].WarArmiesViewModel.DefendersSoldiersCount</p>
                                </div>
                            </div>
                            <div class="row p-0">
                                <div class="col-4 p-0 text-right">
                                    <p class="text-right lhst_country_info_region_value mb-0" data-title="Attackers Lords">@countryWars[i].WarArmiesViewModel.AttackersArmies.Count</p>
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" title="Attackers Lords" alt="" loading="lazy">
                                </div>
                                <div class="col-2 p-0">
                                    <img class="lhst_war_country_img" src="../img/default-icon/farmer.png" title="Defenders Lords" alt="" loading="lazy">
                                </div>
                                <div class="col-4 p-0">
                                    <p class="text-right lhst_country_info_region_value mb-0" data-title="Defenders Lords">@countryWars[i].WarArmiesViewModel.DefendersArmies.Count</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 float-right p-0">
                                    @if (countryWars[i].War.StartDateTime > DateTime.UtcNow)
                                    {
                                        TimeSpan ts = allWars[i].War.StartDateTime - DateTime.UtcNow;
                                        string leftTime = "";
                                        if (ts > TimeSpan.Zero)
                                        {
                                            leftTime = new DateTime(ts.Ticks).ToString("HH:mm:ss");
                                        }
                                        <p class="float-right mr-2 lhst_country_info_region_value mb-0 mt-2">Left: @leftTime</p>
                                    }
                                    else if (!countryWars[i].War.IsEnded)
                                    {
                                        <p class="float-right lhst_country_info_region_value mb-0 mt-2 mr-2">Started</p>
                                    }
                                    else
                                    {
                                        <p class="float-right lhst_country_info_region_value mb-0 mt-2 mr-2">Ended</p>
                                    }
                                </div>
                                <div class="col-6 float-left p-0">
                                    <input type="submit" class="lhst_btn_unit_recruit warDetailsBtn ml-2" data-warid=@countryWars[i].War.WarId value="Details" />
                                </div>
                            </div>
                        </div>
                        <div class="col-2 p-0 text-right">
                            <p class="lhst_wars_country_text ">@countryWars[i].CountryTo.Name</p>
                            <p class="lhst_wars_lands_text lhst_geo_object lhst_cursor_pointer m_landBtn" data-land="@countryWars[i].LandTo.LandId.Replace(' ', '_')">@countryWars[i].LandTo.LandId</p>
                        </div>
                        <div class="col-2 p-0">
                            <img class="lhst_war_country_img lhst_cursor_pointer m_landBtn" data-land="@countryWars[i].LandTo.LandId.Replace(' ', '_')" src="../img/map-regions-icons-middle-ages/@(countryWars[i].LandTo.LandId).png" alt="" loading="lazy">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/war.js"></script>
    <script src="~/js/wars_details.js"></script>
</div>